.page-footer {
    background-color:#0069d6;
}

/* main {
    flex: 1 0 auto;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} */